body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

.screen-color {
  font-size: 100px;
  margin-bottom: 10px;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: white;
  text-transform: uppercase;
}

.listening {
  font-size: 24px;
  color: orangered;
  animation: blink 0.8s infinite;
  margin-bottom: 20px;
}

.button {
  font-size: 17px;
  background-color: #fff;
  border: 2px solid #272727;
  cursor: pointer;
  padding: 7px 22px;
  line-height: 30px;
  font-family: 'Montserrat', sans-serif;
  outline: 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 645px) {
  .screen-color {
    font-size: 80px;
  }

  .button {
    font-size: 16px;
    padding: 6px 16px;
  }
}

@media (max-width: 515px) {
  .screen-color {
    font-size: 65px;
  }

  .button {
    font-size: 15px;
    padding: 4px 14px;
  }
}

@media (max-width: 429px) {
  .screen-color {
    font-size: 55px;
  }
}

@media (max-width: 356px) {
  .screen-color {
    font-size: 48px;
  }

  .button {
    font-size: 15px;
    padding: 2px 10px;
  }
}

@keyframes blink {
  from {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
